<script type="module">
  // import { onMount } from "svelte";
  import Select from "svelte-select";
  let sensorID;
  import { sensorStoreID } from "$lib/stores.js";

  sensorStoreID.subscribe((value) => {
    sensorID = value;
  });

  function handleSelect(event) {
    console.log("selected item", event.detail);
    sensorStoreID.set(event.detail);
    // sensorID = event.detail
    // .. do something here 🙂
  }

  function handleClear() {
    sensorStoreID.set(undefined);
    // sensorID = undefined;
  }
  async function getSensorList() {
    const endpoint = "/api/sensorList";
    const response = await fetch(endpoint);
    const sensors = await response.json();
    let sensorList = [];
    for (const x in sensors) {
      sensorList.push({
        value: sensors[x].id,
        label: sensors[x].name + " [ID:" + sensors[x].id + "]",
      });
    }

    return await sensorList;
  }
</script>

<div>
  {#await getSensorList()}
    Loading the data!
  {:then items}
    <form>
      <label for="sensor">Select sensor:</label>
      <Select
        id="sensor"
        {items}
        on:select={handleSelect}
        on:clear={handleClear}
        placeholder="Search for the sensor"
      />
    </form>
  {:catch error}
    popsuło sie
    {console.log(error)}
  {/await}
</div>

<style>
  form {
    max-width: 400px;
    background: var(--primary-color);
    padding: 20px;
    border-radius: 4px;
    /* border-color: */
    margin-left: auto;
    margin-right: auto;
  }

  label {
    margin: 0 0 10px;
  }
</style>
