
<script context="module">
    import {sensorStoreID} from '$lib/stores.js';

  //Thats Svelte's store method to import the value from other module -- check tutorial
  //https://svelte.dev/tutorial/writable-stores
  let sensorID;
  sensorStoreID.subscribe(value => {
    sensorID = value;
  });

  async  function getWeatherStats(hours, sensorID){
    const response = await fetch('/api/sensorID:' + sensorID + '/weatherStats/' + hours);
    return await response.json();
  }

  function addZero(i) {
  if (i < 10) {i = "0" + i}
  return i;
}

    function hourDisplay(t){
    t = new Date(t);
      let hr = addZero(t.getHours());
      let min = addZero(t.getMinutes());
      return hr + ':' +min;
    }


  function dayDisplay(t){
    t = new Date(t)
    let day = addZero(t.getDate());
    let month = addZero(t.getMonth() + 1);
    let hr = addZero(t.getHours());
    let min = addZero(t.getMinutes());
    return day + '/'+ month + ' ' +hr + ':' +min;
  }

  let time = [1];
  let daysTime;
  if(daysTime != undefined){
    for (let i = 0; i < daysTime.length; i++) {
      let convHrs = daysTime[i] * 24;
      time.push(convHrs);
    }
  }
  

</script>
  <div class="weather-stats">
    <h1>Statistics</h1>

{#each  time as hours}
  {#await getWeatherStats(hours, sensorID.value)}
    <div class="weather-stats-item">
      <h2>last {hours} hours:</h2>
      <p>Loading the data!</p>
    </div>
  {:then weatherStats}
  {#if hours <= 24 }
    <div class="weather-stats-item" >
      <h2>last {hours} hours:</h2>

      <div class="temperature">
        <h3 class="cellHeader">Temperature</h3>
	<p>max: {weatherStats.temperature.max.value}
	  at time:
	  {hourDisplay(weatherStats.temperature.max.time*1000)} <br>
	  
	  min: {weatherStats.temperature.min.value}
	  at time
	  {hourDisplay(weatherStats.temperature.min.time*1000)} <br>

	  amplitude: {weatherStats.temperature.max.value - weatherStats.temperature.min.value} <br>
	  mean: {weatherStats.temperature.mean}  +/-  {weatherStats.temperature.std} <br>
	  
	  median: {weatherStats.temperature.median}</p>
      </div>
      <div class="humidity">
        <h3>Humidity</h3>
	<p>max: {weatherStats.humidity.max.value} at time {hourDisplay(weatherStats.humidity.max.time*1000)} <br>
	  
	  min: {weatherStats.humidity.min.value} at time {hourDisplay(weatherStats.humidity.min.time*1000)} <br>

	  amplitude: {weatherStats.humidity.max.value - weatherStats.humidity.min.value} <br>
	  
	  mean: {weatherStats.humidity.mean}  +/-  {weatherStats.humidity.std} <br>
	  
	  median: {weatherStats.humidity.median}</p>
      </div>
    </div>
  {:else}
        <div class="weather-stats-item" >
      <h2>last {hours/24} days:</h2>

      <div class="temperature">
        <h3 class="cellHeader">Temperature</h3>
	<p>max: {weatherStats.temperature.max.value}
	  at time:
	  {dayDisplay(weatherStats.temperature.max.time*1000)} <br>
	  
	  min: {weatherStats.temperature.min.value}
	  at time
	  {dayDisplay(weatherStats.temperature.min.time*1000)} <br>

	  amplitude: {weatherStats.temperature.max.value - weatherStats.temperature.min.value} <br>
	  mean: {weatherStats.temperature.mean}  +/-  {weatherStats.temperature.std} <br>
	  
	  median: {weatherStats.temperature.median}</p>
      </div>
      <div class="humidity">
        <h3>Humidity</h3>
	<p>max: {weatherStats.humidity.max.value} at time {dayDisplay(weatherStats.humidity.max.time*1000)} <br>
	  
	  min: {weatherStats.humidity.min.value} at time {dayDisplay(weatherStats.humidity.min.time*1000)} <br>
	  
	  amplitude: {weatherStats.humidity.max.value - weatherStats.humidity.min.value} <br>
	  
	  mean: {weatherStats.humidity.mean}  +/-  {weatherStats.humidity.std} <br>
	  
	  median: {weatherStats.humidity.median}</p>
      </div>
    </div>
{/if}
{:catch error}
  popsuło sie

{/await}

{/each}

  </div>
<style>


.temperature > h3 {
  border-left:20px solid var(--secondary-color);
  text-transform: uppercase;
  border-radius:10px;
  padding:10px;
}

.humidity > h3 {
  border-left:20px solid var(--tertiary-color);
  text-transform: uppercase;
  border-radius:10px;
  padding:5px;
}
.weather-stats{
  display:flex;
  flex-direction:column;
      gap: 5px ;
    }
.weather-stats-item{
      border-radius:5px;
      gap:5px;
      padding:5px;
      padding-right:0px;
    }

.temperature{
      padding: 5px;
      border-radius:10px;
      background-color: var(--tertiary-color);
      gap:5px;
}
.humidity{

  padding: 5px;
  border-radius:10px;
  background-color: var(--secondary-color);
}
.weather-stats-item > h2 {
  padding: 5px;
  border-left: 20px solid var(--accent-color);
  border-radius:10px;
  font-weight:1000;
  text-transform: uppercase;
  font-size:1.5em;
  
}
.weather-stats-item{
  background-color: var(--primary-color);
  border-radius:20px 10px;
  font-size:1em;
}

.weather-stats > h1 {
  font-weight: 900;
  border-radius:20px 10px;
  font-size:2em;
  grid-column: 1/4;
  background-color: var(--primary-color);
  padding:10px;
}

</style>
